.logo img {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    margin: 0;

}

body {
    background-color: black;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin: 0;
}

header {
    margin-top: 0;
	margin-left: 0;
	margin-right: 0;
    background-color: white;
    color: #0D0D0D;
    text-align: center;
    border-bottom: 10px solid #F2B705;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

#navbar {
    overflow: hidden;
    background-color: #03258C;
    font-size: 18pt;
    
}

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color:#F2B705;
    color:black;
}

.container1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    transition: 0.3s;
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto;
    float: left;
    grid-area: auto;    

}

.container2 {
    width: 100%;
    padding-top: 5%;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
}

.container3 {
    width: 100%;
    margin-top: 300px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
}

.container4 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
}

.About-Scene {
    width: 100%;
    padding-top: 5%;
    text-align: center;
    align-content: center;
    justify-content: center;

}

.About-Scene img {
    width: 100%;
    height: auto;
    text-align: center;

}

.main-section {
    width: 100%;
    height: auto;
}

button {
    margin-top: 5%;
    background-color: #03258C;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
  }

button:hover {
    background-color:#F2B705;
    color:black;
}

.button:active {
    background-color: black;
    box-shadow: 0 5px white;
    transform: translateY(4px);  
}

.main-section img {
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    height: auto;
}

.self-portrait img {
    width: 400px;
    height: auto;
    border-radius: 100%;
    margin-top: 20%;
}

.Brief_Intro {
    padding-top: 20%;
    display: inline-block;
    margin: 5%;
    padding-left: 10px;
    padding-right: 10px;

}

.bio {
    display: inline-block;
    margin: 5% 0;
    padding: 20px;
}

.image-gallery {
    background-color: black;
    width: 90%;
    margin: 10%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-area: auto;
    text-align: center;
    
}

.page-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}

figure img {
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 100%;
    text-align: center;
    align-content: center;
}

.gallery-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}

h1, h2, h3, p, figcaption {
    color: white;
}

.gallery-item {
    background-color: black;
    padding: 5px;
    margin-bottom: 10%;
    display: inline-block;
    place-items: center;
    justify-content: center;
    float: left;
}

.footer {
    background-color: white;
    width: 100%;
    height: 100px;
    color: black;
    text-align: center;
    margin: 0;
}

.footer div {
    text-align: center;
}

.footer img {
    width: 200px;
    height: auto;
    padding-top: 20px;
}

.footer p {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding-right: 10px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.footer a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    font-size: 24pt;
}

h2 {
    font-weight: 100;
    font-size: 20pt;
}

h3 {
    font-weight: 100;
    font-size: 18pt;

}

header, footer, nav, figure, figcaption {
    display:block;
}
