.logo img {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

body {
    background-color: black;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    background-color: white;
    color: #0D0D0D;
    text-align: center;
    border-bottom: 10px solid #F2B705;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 24pt;
}

h2 {
    font-weight: 400;
    font-size: 16pt;
}

#navbar {
    overflow: hidden;
    background-color: #03258C;
    font-size: 16pt;
}

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color:#F2B705;
    color:white;
}

#container1 {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

#container2 {
    margin: 20% 5%;
    padding: auto;
    text-align: center;
    align-content: center;
}

.main-section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    transition: 0.3s;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 5%;
    background-color: #686A6C;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.biography {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    transition: 0.3s;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.main-section img {
    width: 800px;
    height: auto;
}

.self-portrait img {
    width: 400px;
    height: auto;
}


.main-section h1 {
    padding-top: 20%;
}

.Brief_Intro {
    padding-top: 50%;
}

.bio {
    padding-top: 0;
}

.image-gallery {
    width: 100%;
    margin: 10%;
    padding: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: auto;
}

#page-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    margin: 40px 0px 20px 0px;
}

figure img {
    width: 300px;
    height: auto;
    display: grid;
    margin: auto;
    padding: 55px;
    border-radius: 10%;
}

.gallery-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: .75em;
    font-weight: 400;
}

h1, h2, h3, p, figcaption {
    color: white;
}

.gallery-item {
    padding: 5px;
    float: left;
    display: flex;
    place-items: center;
}

footer {
    background-color: white;
    position: pushed;
    bottom: 0;
    width: 100%;
    position: running (footer);
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: small
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

